
.icon-002-power:before { content: '\e800'; } /* '' */
.icon-001-man-user:before { content: '\e801'; } /* '' */
.icon-004-hands:before { content: '\e802'; } /* '' */
.icon-003-add:before { content: '\e803'; } /* '' */